@import "tailwindcss";

.border-custom {
    border-color: lab(97 0 -0.01);
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: scale(0.99);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-in {
    animation: slideIn 0.08s ease-out forwards;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

html,
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
}